asgiref==3.2.7
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.3
bs4==0.0.1
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
cycler==0.10.0
decorator==4.2.1
Django==3.0.5
dlib==19.9.0
Flask==1.0.2
google-api-core==1.4.0
google-auth==1.5.1
google-cloud-core==0.28.1
google-cloud-storage==1.12.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.0
matplotlib==2.2.0
networkx==2.1
numpy==1.14.1
opencv-contrib-python==3.4.0.12
opencv-python==3.4.0.12
pandas==1.0.3
parsel==1.5.0
Pillow==5.0.0
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
queuelib==1.5.0
requests==2.19.1
rsa==3.4.2
scikit-image==0.13.1
scipy==1.0.0
Scrapy==1.5.1
service-identity==17.0.0
simple-graphs==0.0.0
sip==4.19.8
six==1.11.0
sqlparse==0.3.1
Twisted==18.7.0
urllib3==1.24.2
vector==0.0.0
virtualenv==16.0.0
w3lib==1.19.0
webapp2==2.5.2
Werkzeug==0.14.1
zope.interface==4.5.0
