{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<main>
    <div class="article_detail">
        <div class="article">
            <header>
                <h1>{{article.title}}</h1>
            </header>
            {% if user.is_superuser %}
            <div class="float-right">
                <form class="" action="{% url 'articles:delete_article' article_id=article.id %}" method="post"
                    onsubmit="return confirm('Czy na pewno chcesz usunąć ten artykuł?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger m-2">Usuń artykuł</button>
                </form>
            </div>
            <a class="btn btn-warning mb-2" href="{% url 'articles:edit' id=article.id %}">Edytuj</a>
            {% endif %}
            <section class="article_detail">
                <div class="mb-3">{{article.timestamp}}</div>
                <p class="article__snippet">{{article.content}}</p>
            </section>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row my-3">
        <div class="col-4 text-center">
            <form class="" action="{% url 'articles:add_reaction' slug=article.slug reaction_type='positive'%}"
                method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">
                    <p>Szczęśliwy</p>
                    <p>({{happyReactions|length}})</p>
                    <img src="{% static 'happy.png' %}" alt="szczęśliwy">
                </button>
            </form>
        </div>
        <div class="col-4 text-center">
            <form class="" action="{% url 'articles:add_reaction' slug=article.slug reaction_type='neutral'%}"
                method="post">
                {% csrf_token %}
                <button class="btn btn-secondary">
                    <p>Neutralny</p>
                    <p>({{neutralReactions|length}})</p>
                    <img src="{% static 'neutral.png' %}" alt="neutralny">
                </button>
            </form>
        </div>
        <div class="col-4 text-center">
            <form class="" action="{% url 'articles:add_reaction' slug=article.slug reaction_type='negative' %}"
                method="post">
                {% csrf_token %}
                <button class="btn btn-danger">
                    <p>Smutny</p>
                    <p>({{sadReactions|length}})</p>
                    <img src="{% static 'sad.png' %}" alt="smutny">
                </button>
            </form>
        </div>
    </div>
    {% endif %}
    <h2 class="py-2">Komentarze:</h2>
    <div class="article_comments">
        {% for comment in comments%}
        <div class="border p-2 my-4">
            <h5>Autor: {{comment.author}}</h2>
                <h6>{{comment.timestamp}}</h6>
                <h5>Treść: {{comment.content}}</h3>
                    {% if comment.author == user or user.is_superuser %}
                    <div class="d-flex flex-row-reverse">
                        <form class="" action="{% url 'articles:delete_comment' comment_id=comment.id %}" method="post"
                            onsubmit="return confirm('Czy na pewno chcesz usunąć ten komentarz?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger m-2">Usuń komentarz</button>
                        </form>
                    </div>
                    {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <form class="site-form comment-form my-3" method="post" action="{% url 'articles:detail' slug=article.slug %}">
        {% csrf_token %}
        {{commentForm}}
        <input type="submit" value="Dodaj komentarz">
    </form>
    {% endif %}
</main>
{% endblock %}